RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# disable the server signature
ServerSignature Off

# set the canonical url
RewriteCond %{HTTP_HOST} ^mt.hpu.edu.vn\.com$ [NC]
RewriteRule ^(.*)$ http://mt.hpu.edu.vn/$1 [R=301,L]

Options -Indexes
<files .htaccess="">
    order allow,deny
    deny from all
</files>

ErrorDocument 401 /err/400.html
ErrorDocument 401 /err/401.html
ErrorDocument 403 /err/403.html
ErrorDocument 404 /err/404.html
ErrorDocument 500 /err/500.html

RewriteRule MTthongbao-([0-9]+)-([a-zA-Z0-9_-]+).html$ notice.php?noticeid=$1&title=$2
RewriteRule MTtintuc-([0-9]+)-([0-9]+)-([0-9]+)-([0-9]+)-([a-zA-Z0-9_-]+).html$ detailnews.php?catid=$1&obid=$2&subid=$3&atid=$4
RewriteRule MTlich.html$ calendar.php
RewriteRule MTlich-sukien-([0-9]+).html$ calendarevent.php?eventid=$1
RewriteRule MTlich-ngay.html$ calendardate.php
RewriteRule MTthongbao.html$ list_notice.php
RewriteRule MTchuyenmuc-([0-9]+)-([a-zA-Z0-9_-]+).html$ listnews.php?subid=$1&title=$2
RewriteRule MTchuyenmuc.html$ listnews.php
RewriteRule MTdoituong-([0-9]+)-([a-zA-Z0-9_-]+).html$ listnews_ob.php?obid=$1&title=$2 [QSA,L]
RewriteRule MTdttimkiem.html$ listnews_ob.php [QSA,L]
RewriteRule MTtrangchu.html$ index.php
RewriteRule MTtintuc.html$ listnews.php
RewriteRule MTthongbaodt-([0-9]+).html$ list_notice_ob.php?obid=$1 [QSA,L]
RewriteRule MTthongbaodttimkiem.html$ list_notice_ob.php [QSA,L]
RewriteRule MThethonglienket.html$ systemlist.php



