RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

<files .htaccess>
order allow,deny
deny from all
</files>

# disable the server signature
ServerSignature Off

# set the canonical url
RewriteCond %{HTTP_HOST} ^hpu.edu.vn\.com$ [NC]
RewriteRule ^(.*)$ http://hpu.edu.vn/$1 [R=301,L]

Options -Indexes
<files .htaccess="">
    order allow,deny
    deny from all
</files>

ErrorDocument 401 /err/400.html
ErrorDocument 401 /err/401.html
ErrorDocument 403 /err/403.html
ErrorDocument 404 /err/404.html
ErrorDocument 500 /err/500.html



